c
column_functions.py
HHModel.py
Inputs.py
synapses.txt
table1.csv
test.py
topographic_esser_2.py
topographic_functions.py
__pycache__/function_library.cpython-37.pyc
__pycache__/library.cpython-37.pyc
Archive/RunFile.py
Archive/TestingDataFrames.py
plot_utils.py
__pycache__/parameters.cpython-37.pyc
__pycache__/plot_utils.cpython-37.pyc
Image1.png
Image2.png
Image3.png
neurons.png
L3EColourMap.png
Attachment Probability Plot.png
*.png
ekeberg1.py
TestTutorial3.py
__pycache__/pykalman_test.cpython-37.pyc
__pycache__/Simple_Model.cpython-37.pyc
hdf5/Network.hdf5
logs/simple_2020_09_02_15h08m11s/environment_833d882_2020_09_02_15h08m11s/ERROR.txt
logs/simple_2020_09_02_15h08m11s/environment_833d882_2020_09_02_15h08m11s/LOG.txt
logs/simple_2020_09_03_13h36m03s/environment_6423fcc_2020_09_03_13h36m03s/ERROR.txt
logs/simple_2020_09_03_13h36m03s/environment_6423fcc_2020_09_03_13h36m03s/LOG.txt
logs/trajectory_2020_09_01_16h13m51s/environment_3ef2e49_2020_09_01_16h13m51s/ERROR.txt
logs/trajectory_2020_09_01_16h13m51s/environment_3ef2e49_2020_09_01_16h13m51s/LOG.txt
output/static_arrays/_static_array__array_neurongroup_1_gK
output/static_arrays/_static_array__array_neurongroup_1_gNa
output/static_arrays/_static_array__array_neurongroup_1_t_spike
output/static_arrays/_static_array__array_neurongroup_1_tau_m
output/static_arrays/_static_array__array_neurongroup_1_tau_spike
output/static_arrays/_static_array__array_neurongroup_1_tau_theta
output/static_arrays/_static_array__array_neurongroup_1_theta_eq
output/static_arrays/_static_array__array_neurongroup_1_X
output/static_arrays/_static_array__array_neurongroup_1_Y
output/static_arrays/_static_array__array_neurongroup_1_Z
output/static_arrays/_static_array__array_neurongroup_10_gK
output/static_arrays/_static_array__array_neurongroup_10_gNa
output/static_arrays/_static_array__array_neurongroup_10_t_spike
output/static_arrays/_static_array__array_neurongroup_10_tau_m
output/static_arrays/_static_array__array_neurongroup_10_tau_spike
output/static_arrays/_static_array__array_neurongroup_10_tau_theta
output/static_arrays/_static_array__array_neurongroup_10_theta_eq
output/static_arrays/_static_array__array_neurongroup_10_X
output/static_arrays/_static_array__array_neurongroup_10_Y
output/static_arrays/_static_array__array_neurongroup_10_Z
output/static_arrays/_static_array__array_neurongroup_11_gK
output/static_arrays/_static_array__array_neurongroup_11_gNa
output/static_arrays/_static_array__array_neurongroup_11_t_spike
output/static_arrays/_static_array__array_neurongroup_11_tau_m
output/static_arrays/_static_array__array_neurongroup_11_tau_spike
output/static_arrays/_static_array__array_neurongroup_11_tau_theta
output/static_arrays/_static_array__array_neurongroup_11_theta_eq
output/static_arrays/_static_array__array_neurongroup_11_X
output/static_arrays/_static_array__array_neurongroup_11_Y
output/static_arrays/_static_array__array_neurongroup_11_Z
output/static_arrays/_static_array__array_neurongroup_12_gK
output/static_arrays/_static_array__array_neurongroup_12_gNa
output/static_arrays/_static_array__array_neurongroup_12_t_spike
output/static_arrays/_static_array__array_neurongroup_12_tau_m
output/static_arrays/_static_array__array_neurongroup_12_tau_spike
output/static_arrays/_static_array__array_neurongroup_12_tau_theta
output/static_arrays/_static_array__array_neurongroup_12_theta_eq
output/static_arrays/_static_array__array_neurongroup_12_X
output/static_arrays/_static_array__array_neurongroup_12_Y
output/static_arrays/_static_array__array_neurongroup_12_Z
output/static_arrays/_static_array__array_neurongroup_13_gK
output/static_arrays/_static_array__array_neurongroup_13_gNa
output/static_arrays/_static_array__array_neurongroup_13_t_spike
output/static_arrays/_static_array__array_neurongroup_13_tau_m
output/static_arrays/_static_array__array_neurongroup_13_tau_spike
output/static_arrays/_static_array__array_neurongroup_13_tau_theta
output/static_arrays/_static_array__array_neurongroup_13_theta_eq
output/static_arrays/_static_array__array_neurongroup_13_X
output/static_arrays/_static_array__array_neurongroup_13_Y
output/static_arrays/_static_array__array_neurongroup_13_Z
output/static_arrays/_static_array__array_neurongroup_14_gK
output/static_arrays/_static_array__array_neurongroup_14_gNa
output/static_arrays/_static_array__array_neurongroup_14_t_spike
output/static_arrays/_static_array__array_neurongroup_14_tau_m
output/static_arrays/_static_array__array_neurongroup_14_tau_spike
output/static_arrays/_static_array__array_neurongroup_14_tau_theta
output/static_arrays/_static_array__array_neurongroup_14_theta_eq
output/static_arrays/_static_array__array_neurongroup_14_X
output/static_arrays/_static_array__array_neurongroup_14_Y
output/static_arrays/_static_array__array_neurongroup_14_Z
output/static_arrays/_static_array__array_neurongroup_15_gK
output/static_arrays/_static_array__array_neurongroup_15_gNa
output/static_arrays/_static_array__array_neurongroup_15_t_spike
output/static_arrays/_static_array__array_neurongroup_15_tau_m
output/static_arrays/_static_array__array_neurongroup_15_tau_spike
output/static_arrays/_static_array__array_neurongroup_15_tau_theta
output/static_arrays/_static_array__array_neurongroup_15_theta_eq
output/static_arrays/_static_array__array_neurongroup_15_X
output/static_arrays/_static_array__array_neurongroup_15_Y
output/static_arrays/_static_array__array_neurongroup_15_Z
output/static_arrays/_static_array__array_neurongroup_16_gK
output/static_arrays/_static_array__array_neurongroup_16_gNa
output/static_arrays/_static_array__array_neurongroup_16_t_spike
output/static_arrays/_static_array__array_neurongroup_16_tau_m
output/static_arrays/_static_array__array_neurongroup_16_tau_spike
output/static_arrays/_static_array__array_neurongroup_16_tau_theta
output/static_arrays/_static_array__array_neurongroup_16_theta_eq
output/static_arrays/_static_array__array_neurongroup_16_X
output/static_arrays/_static_array__array_neurongroup_16_Y
output/static_arrays/_static_array__array_neurongroup_16_Z
output/static_arrays/_static_array__array_neurongroup_7_gK
output/static_arrays/_static_array__array_neurongroup_7_gNa
output/static_arrays/_static_array__array_neurongroup_7_t_spike
output/static_arrays/_static_array__array_neurongroup_7_tau_m
output/static_arrays/_static_array__array_neurongroup_7_tau_spike
output/static_arrays/_static_array__array_neurongroup_7_tau_theta
output/static_arrays/_static_array__array_neurongroup_7_theta_eq
output/static_arrays/_static_array__array_neurongroup_7_X
output/static_arrays/_static_array__array_neurongroup_7_Y
output/static_arrays/_static_array__array_neurongroup_7_Z
output/static_arrays/_static_array__array_neurongroup_8_gK
output/static_arrays/_static_array__array_neurongroup_8_gNa
output/static_arrays/_static_array__array_neurongroup_8_t_spike
output/static_arrays/_static_array__array_neurongroup_8_tau_m
output/static_arrays/_static_array__array_neurongroup_8_tau_spike
output/static_arrays/_static_array__array_neurongroup_8_tau_theta
output/static_arrays/_static_array__array_neurongroup_8_theta_eq
output/static_arrays/_static_array__array_neurongroup_8_X
output/static_arrays/_static_array__array_neurongroup_8_Y
output/static_arrays/_static_array__array_neurongroup_8_Z
output/static_arrays/_static_array__array_neurongroup_9_gK
output/static_arrays/_static_array__array_neurongroup_9_gNa
output/static_arrays/_static_array__array_neurongroup_9_t_spike
output/static_arrays/_static_array__array_neurongroup_9_tau_m
output/static_arrays/_static_array__array_neurongroup_9_tau_spike
output/static_arrays/_static_array__array_neurongroup_9_tau_theta
output/static_arrays/_static_array__array_neurongroup_9_theta_eq
output/static_arrays/_static_array__array_neurongroup_9_X
output/static_arrays/_static_array__array_neurongroup_9_Y
output/static_arrays/_static_array__array_neurongroup_9_Z
output/static_arrays/_static_array__array_neurongroup_gK
output/static_arrays/_static_array__array_neurongroup_gNa
output/static_arrays/_static_array__array_neurongroup_t_spike
output/static_arrays/_static_array__array_neurongroup_tau_m
output/static_arrays/_static_array__array_neurongroup_tau_spike
output/static_arrays/_static_array__array_neurongroup_tau_theta
output/static_arrays/_static_array__array_neurongroup_theta_eq
output/static_arrays/_static_array__array_neurongroup_X
output/static_arrays/_static_array__array_neurongroup_Y
output/static_arrays/_static_array__array_neurongroup_Z
