c
column_functions.py
HHModel.py
Inputs.py
synapses.txt
table1.csv
test.py
topographic_esser_2.py
topographic_functions.py
__pycache__/function_library.cpython-37.pyc
__pycache__/library.cpython-37.pyc
Archive/RunFile.py
Archive/TestingDataFrames.py
plot_utils.py
__pycache__/parameters.cpython-37.pyc
__pycache__/plot_utils.cpython-37.pyc
Image1.png
Image2.png
Image3.png
neurons.png
L3EColourMap.png
Attachment Probability Plot.png
*.png
ekeberg1.py
TestTutorial3.py
__pycache__/pykalman_test.cpython-37.pyc
__pycache__/Simple_Model.cpython-37.pyc
hdf5/Network.hdf5
logs/simple_2020_09_02_15h08m11s/environment_833d882_2020_09_02_15h08m11s/ERROR.txt
logs/simple_2020_09_02_15h08m11s/environment_833d882_2020_09_02_15h08m11s/LOG.txt
logs/simple_2020_09_03_13h36m03s/environment_6423fcc_2020_09_03_13h36m03s/ERROR.txt
logs/simple_2020_09_03_13h36m03s/environment_6423fcc_2020_09_03_13h36m03s/LOG.txt
logs/trajectory_2020_09_01_16h13m51s/environment_3ef2e49_2020_09_01_16h13m51s/ERROR.txt
logs/trajectory_2020_09_01_16h13m51s/environment_3ef2e49_2020_09_01_16h13m51s/LOG.txt
output/static_arrays/_static_array__array_neurongroup_1_gK
output/static_arrays/_static_array__array_neurongroup_1_gNa
output/static_arrays/_static_array__array_neurongroup_1_t_spike
output/static_arrays/_static_array__array_neurongroup_1_tau_m
output/static_arrays/_static_array__array_neurongroup_1_tau_spike
output/static_arrays/_static_array__array_neurongroup_1_tau_theta
output/static_arrays/_static_array__array_neurongroup_1_theta_eq
output/static_arrays/_static_array__array_neurongroup_1_X
output/static_arrays/_static_array__array_neurongroup_1_Y
output/static_arrays/_static_array__array_neurongroup_1_Z
output/static_arrays/_static_array__array_neurongroup_10_gK
output/static_arrays/_static_array__array_neurongroup_10_gNa
output/static_arrays/_static_array__array_neurongroup_10_t_spike
output/static_arrays/_static_array__array_neurongroup_10_tau_m
output/static_arrays/_static_array__array_neurongroup_10_tau_spike
output/static_arrays/_static_array__array_neurongroup_10_tau_theta
output/static_arrays/_static_array__array_neurongroup_10_theta_eq
output/static_arrays/_static_array__array_neurongroup_10_X
output/static_arrays/_static_array__array_neurongroup_10_Y
output/static_arrays/_static_array__array_neurongroup_10_Z
output/static_arrays/_static_array__array_neurongroup_11_gK
output/static_arrays/_static_array__array_neurongroup_11_gNa
output/static_arrays/_static_array__array_neurongroup_11_t_spike
output/static_arrays/_static_array__array_neurongroup_11_tau_m
output/static_arrays/_static_array__array_neurongroup_11_tau_spike
output/static_arrays/_static_array__array_neurongroup_11_tau_theta
output/static_arrays/_static_array__array_neurongroup_11_theta_eq
output/static_arrays/_static_array__array_neurongroup_11_X
output/static_arrays/_static_array__array_neurongroup_11_Y
output/static_arrays/_static_array__array_neurongroup_11_Z
output/static_arrays/_static_array__array_neurongroup_12_gK
output/static_arrays/_static_array__array_neurongroup_12_gNa
output/static_arrays/_static_array__array_neurongroup_12_t_spike
output/static_arrays/_static_array__array_neurongroup_12_tau_m
output/static_arrays/_static_array__array_neurongroup_12_tau_spike
output/static_arrays/_static_array__array_neurongroup_12_tau_theta
output/static_arrays/_static_array__array_neurongroup_12_theta_eq
output/static_arrays/_static_array__array_neurongroup_12_X
output/static_arrays/_static_array__array_neurongroup_12_Y
output/static_arrays/_static_array__array_neurongroup_12_Z
output/static_arrays/_static_array__array_neurongroup_13_gK
output/static_arrays/_static_array__array_neurongroup_13_gNa
output/static_arrays/_static_array__array_neurongroup_13_t_spike
output/static_arrays/_static_array__array_neurongroup_13_tau_m
output/static_arrays/_static_array__array_neurongroup_13_tau_spike
output/static_arrays/_static_array__array_neurongroup_13_tau_theta
output/static_arrays/_static_array__array_neurongroup_13_theta_eq
output/static_arrays/_static_array__array_neurongroup_13_X
output/static_arrays/_static_array__array_neurongroup_13_Y
output/static_arrays/_static_array__array_neurongroup_13_Z
output/static_arrays/_static_array__array_neurongroup_14_gK
output/static_arrays/_static_array__array_neurongroup_14_gNa
output/static_arrays/_static_array__array_neurongroup_14_t_spike
output/static_arrays/_static_array__array_neurongroup_14_tau_m
output/static_arrays/_static_array__array_neurongroup_14_tau_spike
output/static_arrays/_static_array__array_neurongroup_14_tau_theta
output/static_arrays/_static_array__array_neurongroup_14_theta_eq
output/static_arrays/_static_array__array_neurongroup_14_X
output/static_arrays/_static_array__array_neurongroup_14_Y
output/static_arrays/_static_array__array_neurongroup_14_Z
output/static_arrays/_static_array__array_neurongroup_15_gK
output/static_arrays/_static_array__array_neurongroup_15_gNa
output/static_arrays/_static_array__array_neurongroup_15_t_spike
output/static_arrays/_static_array__array_neurongroup_15_tau_m
output/static_arrays/_static_array__array_neurongroup_15_tau_spike
output/static_arrays/_static_array__array_neurongroup_15_tau_theta
output/static_arrays/_static_array__array_neurongroup_15_theta_eq
output/static_arrays/_static_array__array_neurongroup_15_X
output/static_arrays/_static_array__array_neurongroup_15_Y
output/static_arrays/_static_array__array_neurongroup_15_Z
output/static_arrays/_static_array__array_neurongroup_16_gK
output/static_arrays/_static_array__array_neurongroup_16_gNa
output/static_arrays/_static_array__array_neurongroup_16_t_spike
output/static_arrays/_static_array__array_neurongroup_16_tau_m
output/static_arrays/_static_array__array_neurongroup_16_tau_spike
output/static_arrays/_static_array__array_neurongroup_16_tau_theta
output/static_arrays/_static_array__array_neurongroup_16_theta_eq
output/static_arrays/_static_array__array_neurongroup_16_X
output/static_arrays/_static_array__array_neurongroup_16_Y
output/static_arrays/_static_array__array_neurongroup_16_Z
output/static_arrays/_static_array__array_neurongroup_7_gK
output/static_arrays/_static_array__array_neurongroup_7_gNa
output/static_arrays/_static_array__array_neurongroup_7_t_spike
output/static_arrays/_static_array__array_neurongroup_7_tau_m
output/static_arrays/_static_array__array_neurongroup_7_tau_spike
output/static_arrays/_static_array__array_neurongroup_7_tau_theta
output/static_arrays/_static_array__array_neurongroup_7_theta_eq
output/static_arrays/_static_array__array_neurongroup_7_X
output/static_arrays/_static_array__array_neurongroup_7_Y
output/static_arrays/_static_array__array_neurongroup_7_Z
output/static_arrays/_static_array__array_neurongroup_8_gK
output/static_arrays/_static_array__array_neurongroup_8_gNa
output/static_arrays/_static_array__array_neurongroup_8_t_spike
output/static_arrays/_static_array__array_neurongroup_8_tau_m
output/static_arrays/_static_array__array_neurongroup_8_tau_spike
output/static_arrays/_static_array__array_neurongroup_8_tau_theta
output/static_arrays/_static_array__array_neurongroup_8_theta_eq
output/static_arrays/_static_array__array_neurongroup_8_X
output/static_arrays/_static_array__array_neurongroup_8_Y
output/static_arrays/_static_array__array_neurongroup_8_Z
output/static_arrays/_static_array__array_neurongroup_9_gK
output/static_arrays/_static_array__array_neurongroup_9_gNa
output/static_arrays/_static_array__array_neurongroup_9_t_spike
output/static_arrays/_static_array__array_neurongroup_9_tau_m
output/static_arrays/_static_array__array_neurongroup_9_tau_spike
output/static_arrays/_static_array__array_neurongroup_9_tau_theta
output/static_arrays/_static_array__array_neurongroup_9_theta_eq
output/static_arrays/_static_array__array_neurongroup_9_X
output/static_arrays/_static_array__array_neurongroup_9_Y
output/static_arrays/_static_array__array_neurongroup_9_Z
output/static_arrays/_static_array__array_neurongroup_gK
output/static_arrays/_static_array__array_neurongroup_gNa
output/static_arrays/_static_array__array_neurongroup_t_spike
output/static_arrays/_static_array__array_neurongroup_tau_m
output/static_arrays/_static_array__array_neurongroup_tau_spike
output/static_arrays/_static_array__array_neurongroup_tau_theta
output/static_arrays/_static_array__array_neurongroup_theta_eq
output/static_arrays/_static_array__array_neurongroup_X
output/static_arrays/_static_array__array_neurongroup_Y
output/static_arrays/_static_array__array_neurongroup_Z
HDF/example_01.hdf5
hdf5/example_23.hdf5
hdf5/example_24.hdf5
hdf5/example_25.hdf5
hdf5/example_26.hdf5
hdf5/example_27.hdf5
hdf5/example_28.hdf5
hdf5/example_29.hdf5
hdf5/example_30.hdf5
hdf5/example_31.hdf5
hdf5/example_32.hdf5
hdf5/example_33.hdf5
hdf5/example_34.hdf5
hdf5/example_35.hdf5
hdf5/example_36.hdf5
hdf5/example_37.hdf5
hdf5/example_38.hdf5
hdf5/example_39.hdf5
hdf5/example_40.hdf5
hdf5/example_41.hdf5
hdf5/example_42.hdf5
hdf5/example_43.hdf5
hdf5/example_44.hdf5
hdf5/example_45.hdf5
hdf5/example_46.hdf5
hdf5/example_47.hdf5
hdf5/example_48.hdf5
hdf5/example_49.hdf5
logs/Example_23_BRIAN2/environment_114e2bf_2020_09_08_16h39m47s/ERROR.txt
logs/Example_23_BRIAN2/environment_114e2bf_2020_09_08_16h39m47s/LOG.txt
logs/Example_23_BRIAN2/environment_444263b_2020_09_09_10h05m25s/ERROR.txt
logs/Example_23_BRIAN2/environment_444263b_2020_09_09_10h05m25s/LOG.txt
logs/Example_23_BRIAN2/environment_96a8fa0_2020_09_09_10h07m54s/ERROR.txt
logs/Example_23_BRIAN2/environment_96a8fa0_2020_09_09_10h07m54s/LOG.txt
logs/Example_23_BRIAN2/environment_c0a2b5c_2020_09_09_10h05m54s/ERROR.txt
logs/Example_23_BRIAN2/environment_c0a2b5c_2020_09_09_10h05m54s/LOG.txt
logs/Example_23_BRIAN2/environment_cb75b5a_2020_09_09_10h09m28s/ERROR.txt
logs/Example_23_BRIAN2/environment_cb75b5a_2020_09_09_10h09m28s/LOG.txt
logs/Example_24_BRIAN2/environment_a3452ae_2020_09_09_10h09m46s/ERROR.txt
logs/Example_24_BRIAN2/environment_a3452ae_2020_09_09_10h09m46s/LOG.txt
logs/Example_25_BRIAN2/environment_36d3bbd_2020_09_09_21h09m09s/ERROR.txt
logs/Example_25_BRIAN2/environment_36d3bbd_2020_09_09_21h09m09s/LOG.txt
logs/Example_25_BRIAN2/environment_36e9448_2020_09_09_21h07m15s/ERROR.txt
logs/Example_25_BRIAN2/environment_36e9448_2020_09_09_21h07m15s/LOG.txt
logs/Example_25_BRIAN2/environment_64bef4e_2020_09_09_21h06m22s/ERROR.txt
logs/Example_25_BRIAN2/environment_64bef4e_2020_09_09_21h06m22s/LOG.txt
logs/Example_25_BRIAN2/environment_73153a3_2020_09_09_21h09m49s/ERROR.txt
logs/Example_25_BRIAN2/environment_73153a3_2020_09_09_21h09m49s/LOG.txt
logs/Example_25_BRIAN2/environment_d90d321_2020_09_09_21h03m39s/ERROR.txt
logs/Example_25_BRIAN2/environment_d90d321_2020_09_09_21h03m39s/LOG.txt
logs/Example_26_BRIAN2/environment_e826629_2020_09_09_21h10m16s/ERROR.txt
logs/Example_26_BRIAN2/environment_e826629_2020_09_09_21h10m16s/LOG.txt
logs/Example_27_BRIAN2/environment_b51444c_2020_09_09_21h11m58s/ERROR.txt
logs/Example_27_BRIAN2/environment_b51444c_2020_09_09_21h11m58s/LOG.txt
logs/Example_28_BRIAN2/environment_0d949d5_2020_09_09_21h17m58s/ERROR.txt
logs/Example_28_BRIAN2/environment_0d949d5_2020_09_09_21h17m58s/LOG.txt
logs/Example_28_BRIAN2/environment_fe56971_2020_09_09_21h12m58s/ERROR.txt
logs/Example_28_BRIAN2/environment_fe56971_2020_09_09_21h12m58s/LOG.txt
logs/Example_29_BRIAN2/environment_9b255a0_2020_09_09_21h18m18s/ERROR.txt
logs/Example_29_BRIAN2/environment_9b255a0_2020_09_09_21h18m18s/LOG.txt
logs/Example_30_BRIAN2/environment_263e004_2020_09_09_21h20m32s/ERROR.txt
logs/Example_30_BRIAN2/environment_263e004_2020_09_09_21h20m32s/LOG.txt
logs/Example_31_BRIAN2/environment_8ce88ec_2020_09_09_21h23m04s/ERROR.txt
logs/Example_31_BRIAN2/environment_8ce88ec_2020_09_09_21h23m04s/LOG.txt
logs/Example_32_BRIAN2/environment_6245b6d_2020_09_09_21h24m05s/ERROR.txt
logs/Example_32_BRIAN2/environment_6245b6d_2020_09_09_21h24m05s/LOG.txt
logs/Example_33_BRIAN2/environment_89dce85_2020_09_09_21h29m10s/ERROR.txt
logs/Example_33_BRIAN2/environment_89dce85_2020_09_09_21h29m10s/LOG.txt
logs/Example_34_BRIAN2/environment_e0df7ce_2020_09_09_21h29m57s/ERROR.txt
logs/Example_34_BRIAN2/environment_e0df7ce_2020_09_09_21h29m57s/LOG.txt
logs/Example_35_BRIAN2/environment_7252a69_2020_09_09_21h30m46s/ERROR.txt
logs/Example_35_BRIAN2/environment_7252a69_2020_09_09_21h30m46s/LOG.txt
logs/Example_36_BRIAN2/environment_0ae4520_2020_09_09_21h32m21s/ERROR.txt
logs/Example_36_BRIAN2/environment_0ae4520_2020_09_09_21h32m21s/LOG.txt
logs/Example_36_BRIAN2/environment_f820711_2020_09_09_23h40m40s/ERROR.txt
logs/Example_36_BRIAN2/environment_f820711_2020_09_09_23h40m40s/LOG.txt
logs/Example_37_BRIAN2/environment_83b4151_2020_09_09_23h40m58s/ERROR.txt
logs/Example_37_BRIAN2/environment_83b4151_2020_09_09_23h40m58s/LOG.txt
logs/Example_38_BRIAN2/environment_98c4ec2_2020_09_09_23h43m42s/ERROR.txt
logs/Example_38_BRIAN2/environment_98c4ec2_2020_09_09_23h43m42s/LOG.txt
logs/Example_39_BRIAN2/environment_cb29489_2020_09_09_23h44m27s/ERROR.txt
logs/Example_39_BRIAN2/environment_cb29489_2020_09_09_23h44m27s/LOG.txt
logs/Example_40_BRIAN2/environment_602bbad_2020_09_10_08h11m09s/ERROR.txt
logs/Example_40_BRIAN2/environment_602bbad_2020_09_10_08h11m09s/LOG.txt
logs/Example_41_BRIAN2/environment_9d8f599_2020_09_10_08h13m44s/ERROR.txt
logs/Example_41_BRIAN2/environment_9d8f599_2020_09_10_08h13m44s/LOG.txt
logs/Example_42_BRIAN2/environment_94cc090_2020_09_10_08h14m08s/ERROR.txt
logs/Example_42_BRIAN2/environment_94cc090_2020_09_10_08h14m08s/LOG.txt
logs/Example_43_BRIAN2/environment_5070668_2020_09_10_08h18m06s/ERROR.txt
logs/Example_43_BRIAN2/environment_5070668_2020_09_10_08h18m06s/LOG.txt
logs/Example_44_BRIAN2/environment_9deb72f_2020_09_10_08h22m50s/ERROR.txt
logs/Example_44_BRIAN2/environment_9deb72f_2020_09_10_08h22m50s/LOG.txt
logs/Example_45_BRIAN2/environment_276e8f1_2020_09_10_08h24m32s/ERROR.txt
logs/Example_45_BRIAN2/environment_276e8f1_2020_09_10_08h24m32s/LOG.txt
logs/Example_46_BRIAN2/environment_facb425_2020_09_10_08h27m51s/ERROR.txt
logs/Example_46_BRIAN2/environment_facb425_2020_09_10_08h27m51s/LOG.txt
logs/Example_47_BRIAN2/environment_2d6834d_2020_09_10_08h29m21s/ERROR.txt
logs/Example_47_BRIAN2/environment_2d6834d_2020_09_10_08h29m21s/LOG.txt
logs/Example_48_BRIAN2/environment_f50f17f_2020_09_10_08h39m57s/ERROR.txt
logs/Example_48_BRIAN2/environment_f50f17f_2020_09_10_08h39m57s/LOG.txt
logs/Example_49_BRIAN2/environment_e453664_2020_09_10_09h58m53s/ERROR.txt
logs/Example_49_BRIAN2/environment_e453664_2020_09_10_09h58m53s/LOG.txt
logs/Multiplication/environment_eb0643f_2020_09_08_12h02m12s/ERROR.txt
logs/Multiplication/environment_eb0643f_2020_09_08_12h02m12s/LOG.txt
logs/my_trajectory/environment_96a9485_2020_09_09_10h28m26s/ERROR.txt
logs/my_trajectory/environment_96a9485_2020_09_09_10h28m26s/LOG.txt
